{% extends "base.html.twig" %}

{% block title %}Sign Up
{% endblock %}

{% block body %}
	<h1>Sign Up</h1>

	{{ form_start(form) }}
	{{ form_row(form.email, {'label' : 'E-mail', 'attr' : {'placeholder' : 'E-mail', 'class' : 'form-control'}}) }}
	{{ form_row(form.username, {'label' : 'Nom d\'utilisateur', 'attr' : {'placeholder' : 'Nom d\'utilisateur', 'class' : 'form-control'}}) }}
	{{ form_row(form.password, {'label' : 'Mot de passe', 'attr' : {'placeholder' : 'Mot de passe', 'class' : 'form-control'}}) }}
	{{ form_row(form.confirm_password, {'label' : 'Confirmation de mot de passe', 'attr' : {'placeholder' : 'Confirmation de mot de passe', 'class' : 'form-control'}}) }}
	<div class="form-group">
		<br>
		<button type="submit" class="btn btn-success">Inscription</button>
	</div>
	{{ form_end(form) }}

{% endblock %}
